<a href="https://colab.research.google.com/github/DevAssis/portifolio/blob/master/analise_airbnb_projeto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *1- Problema de Negocios:*

A empresa Airbnb(Plataforma de compartilhamento de hospedagem e turismo) está em expanção em NY - USD. E como DS's, precisamos auxiliar o CEO da empresa a tomar as melhores decisões comerciais e de markenting com base em dados;  resultando em lucratividade e diminuir exponencialmente qualquer prejuízo.

*2 - Perguntas do CEO:*

a] - Qual o valor medio do aluguel  na cidade de  Nova York?

b] - Quais os nomes das regioes da cidade de Nova York?

c] - Qual o valor do aluguel diario mais caro da cidade de Nova York?

*3 - Planejamento da Solução*
     
*3.1 - Planejamento do Produto final   *     

a] Escrever um email.

b] Mandar um planilha.

c] envir um mapa ou grafico em um ferramenta.

d] Algoritmo de ML.


*3.1.1 -Solução escolhida:*

a] Escrever um email.

Olá CEO, Espero que esse email, o encontre bem?
Meu nome é Milton e sou Cientista de Dados do time de expansão. 
Segue abaixo as respostas das perguntas de negócio solicitadas, referente a expansão de NovaYork.

a] - Qual o valor medio do aluguel  na cidade de  Nova York? 
R: Valor médio do aluguel é de $ 1.100,00

b] - Quais os nomes das regioes da cidade de Nova York?
R: Brooklin, Bronx e Manhattan

c] - Qual o valor do aluguel diario mais caro da cidade de Nova York?
R: O valor da diaria mais cara é de U$ 5.000,00

3.2 - Planejamento do Porcesso de entrega 


1 - Colentar um conjunto de dados (planilha de dados).

2 - Manipular os dados.


a] Calcular a media de todos os valores do aluguel da cidade de Nova York

b] Contar todos os nomes distintos que aparecem na coluna região.

c] Encotrar o valor máximo da coluna que contem os valores dos aluguéis.

3.3 - Planejamento da Ferramenta.
1. Linguagem de Programação - Python
2. Ferramenta de estatisticas - calculo da média
3. IDE = Google Colabs

# **Importando as bibliotecas**

In [1]:
import pandas as pd
import numpy as np
import io
from google.colab import files

# **Carregado a base**

In [2]:
base_uploaded = files.upload()

Saving AB_NYC_2019.csv to AB_NYC_2019.csv

In [3]:
df = pd.read_csv ( io.BytesIO(base_uploaded['AB_NYC_2019.csv']))

# **Tratamento e limpeza dos dados**

In [4]:
df.head()  #informando as 6 primeiras linhas

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [5]:
df.info() #informações gerais e tipos de dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [6]:
df.isna().sum() #informando quantos dados faltantes tem no arquivo

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [7]:
df1 = df.dropna() # deletar linhas com colunas vazias

In [8]:
df1.shape

(38821, 16)

# Respondendo as perguntas do CEO

**a] - Qual o valor médio do aluguel  na cidade de  Nova York?**

In [9]:
cols = ['price']

df1.loc[:, cols]

media = np.mean(df1.loc[:, cols])

print(media)

price    142.332526
dtype: float64

R: Valor médio do aluguel é de $ *142.332*

**b] - Quais os nomes das regiões que existe na cidade de Nova York?**

In [12]:
cols = ['neighbourhood_group']
df1.loc[:, cols]

regiao = np.unique(df1.loc[:, cols])
print(regiao)

['Bronx' 'Brooklyn' 'Manhattan' 'Queens' 'Staten Island']

R: Bronx, Brooklyn, Manhattan, Queens, Staten Island

**c] - Qual o valor do aluguel diario mais caro da cidade de Nova York?**

In [14]:
cols = ['price']

df1.loc[:, cols]

valor_max = np.max(df1.loc[:, cols])

print(valor_max)

price    10000
dtype: int64

R: O valor da diaria mais cara é de *U$ 10.000,00*